@media screen
and (min-width: 875px) {

    #example {
        right: 360px;
    }

    #content {
        left: 150px;
    }


    #example.job {
        right: 0px;
    }

    #content.job {
        left: 0px;
    }


    #language-holder > div {
        left: 111px;
    }

}